html,body{font-family: "Roboto", sans-serif}

h6 {font-family: "Roboto", sans-serif; font-size: 10pt !important; color : #000}
h5 {font-family: "Roboto", sans-serif; font-size: 16pt !important; color : #000}
h4 {font-family: "Roboto", sans-serif; font-size: 18pt !important; color : #000}
h3 {font-family: "Roboto", sans-serif; font-size: 20pt !important; color : #000}
h2 {font-family: "Roboto", sans-serif; font-size: 24pt !important; color : #000}
h1 {font-family: "Roboto", sans-serif; font-size: 30pt !important; color : #000}

li {font-family: "Roboto", sans-serif; font-size: 12pt !important; color:#ffcc33}
a{color:#66ff33 !important; font-size: 16pt}

.w3-theme-back-purple-light {background-color:#e699ff !important}
.w3-theme-back-purple {background-color:#cc33ff !important}
.w3-theme-back-purple-dark {background-color:#9900cc !important}

.w3-theme-back-yellow-light {background-color:#ffe699 !important}
.w3-theme-back-yellow {background-color:#ffcc33 !important}
.w3-theme-back-yellow-dark {background-color:#cc9900 !important}

.w3-theme-back-cyan-light {background-color:#99ccff !important}
.w3-theme-back-cyan {background-color:#3399ff !important}
.w3-theme-back-cyan-dark {background-color:#0066cc !important}

.w3-theme-text-purple-light {color:#e699ff !important}
.w3-theme-text-purple {color:#cc33ff !important}
.w3-theme-text-purple-dark {color:#9900cc !important}

.w3-theme-text-yellow-light {color:#ffe699 !important}
.w3-theme-text-yellow {color:#ffcc33 !important}
.w3-theme-text-yellow-dark {color:#cc9900 !important}

.w3-theme-text-cyan-light {color:#99ccff !important}
.w3-theme-text-cyan {color:#3399ff !important}
.w3-theme-text-cyan-dark {color:#0066cc !important}

.i{color:#000 !important}
